// color pallete:
$lightShade: #ffe5dc;
$lightAccent: #31ffff;
$mainColor: #ff6b6b;
$darkShade: #eedad5;
$darkAccent: #2f4858;
// other colors
$brandBlack: #191919;
$brandWhite: #f5f5f5;
$success: #5ea25d;
$warning: #db9225;
$danger: #ff5733;

// responsive breakpoints:
$miniMobile: 150px;
$smallMobile: 320px;
$Mobile: 481px;
$tablet: 769px;
$smallDesktop: 1025px;
$desktop: 1201px;
$waveBreak: 1800px;
$largeDesktop: 2200px;
