@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.container {
  position: relative;
  height: calc(100dvh - 11rem);
  // border: 2x solid red;

  .subContainer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  .svg {
    display: none;
  }

  .path {
    display: none;
  }

  .textContainer {
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    h1 {
      color: $brandWhite;
      font-size: 3.4rem;
      text-align: center;
    }
    .socials {
      display: flex;
      margin-top: 2.5rem;
      justify-content: space-around;
      // border: 2px solid $brandWhite;
      width: 40%;
      .socialsImageContainer {
        @include hoverEffect(1);
        margin-right: 1rem;
        position: relative;
        width: 3rem;
        height: 3rem;
      }
    }
    .iconImageContainer {
      margin-right: 1rem;
      position: relative;
      width: 3rem;
      height: 3rem;
      @include hoverEffect(1);
    }

    .phoneNumContainer {
      margin-top: 2.5rem;
      display: flex;
      .phoneNumber {
        color: $brandWhite;
        font-size: 3rem;
      }
    }
    .highlight {
      @include gradientText($mainColor, $lightAccent);
    }
  }
  .imageContainer {
    position: relative;

    width: 35rem;
    height: 28rem;
    z-index: -1;
    @include comeToLife();
  }
}
@media (min-width: $waveBreak) {
  .container {
    padding: 0;
    height: calc(100dvh - 15rem);
  }
}

@media (min-width: $tablet) {
  .container {
    .textContainer {
      .container {
        h1 {
          font-size: 4.4rem;
        }
      }
    }

    .imageContainer {
      width: 50rem;
      height: 40rem;
    }
  }
}

@media (min-width: $smallDesktop) {
  .container {
    padding: 20rem 0;

    .subContainer {
      flex-direction: row;
    }

    .svg {
      position: absolute;
      bottom: -68rem;
      display: flex;
    }

    .path {
      display: flex;
      bottom: 100rem;
      stroke-width: 0;
    }

    .textContainer {
      display: flex;
      padding: 0 2rem;
      width: 50%;
      h1 {
        color: $brandWhite;
        font-size: 6.4rem;
        text-align: center;
      }
      h3 {
        color: $brandWhite;
      }
      .highlight {
        @include gradientText($mainColor, $lightAccent);
      }
    }

    .imageContainer {
      position: relative;
      width: 100rem;
      height: 80rem;
    }
  }
}
