@import "./styles/variables.module.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid red;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: $smallDesktop) {
  // app max-width set.
  .container {
    max-width: 160rem;
  }
}
